{#
* Leaderboard region override
#}
<div{{ attributes.addClass('region', 'region-leaderboard', 'py-3') }}>
  <div class="container text-center">
    <div id="sas_53425" class="leaderboard-slot"></div>
  </div>
</div>
